<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-title class="ion-text-capitalize">
          {{strings.ST83}}
        </ion-title>
              <ion-buttons slot="start">
                  <ion-button (click)="close()" slot="start">
                      <ion-icon color="dark" mode="md" name="arrow-back-outline"></ion-icon>
                    </ion-button>
              </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

      <form [formGroup]="validationsform" (ngSubmit)="tryAddComment(validationsform.value)">
      
          <ionic-rating-component #rating
          activeIcon = "star"
          defaultIcon = "star-outline"
          activeColor = "#ffc107" 
          defaultColor = "rgba(0, 0, 0, 0.2)"
          readonly="false"
          fontSize = "32px"
          formControlName="rating">
          </ionic-rating-component>

          <div class="line-input">
            <ion-item mode="ios">
            <ion-textarea rows="4" formControlName="comment" [placeholder]="strings.ST85" mode="ios"></ion-textarea>
            </ion-item>
          </div>

          <ion-button color="primary" type="submit" [disabled]="!validationsform.valid" expand="block" mode="ios">
            {{strings.ST108}}
          </ion-button>

        </form>

  </ion-content>

