<ion-header *ngIf="!isLoading">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" mode="ios">{{strings.ST82}}</ion-title>
    <ion-buttons slot="start">
      <app-backbutton color="light"></app-backbutton>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-loading *ngIf="isLoading"></app-loading>
  
  <div *ngIf="!isLoading">
  <div class="html" [innerHTML]="privacypolicy"></div>
  <div class="html" [innerHTML]="termsofservice"></div>
  </div>

</ion-content>
