<ion-header *ngIf="!isLoading">
  <ion-toolbar color="primary">
    <ion-title mode="ios">{{diet.diet_title}}</ion-title>
    <ion-buttons slot="start">
      <app-backbutton color="light"></app-backbutton>
  </ion-buttons>
  <ion-buttons slot="end">
          <ion-button (click)="addToFavorites()" slot="start">
          <ion-icon color="light" mode="md" [name]="icon"></ion-icon>
          </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<app-loading *ngIf="isLoading"></app-loading>

<ion-content *ngIf="!isLoading" class="ion-no-padding">

    <ion-grid class="ion-no-padding">
        <ion-row class="header-bg" [style.background-image]="'url(' + (diet.diet_image | image) + ')'" [ngStyle]="{'height': innerHeight}">
          <div class="text">
          <p class="time">{{diet.category_title}}</p>
          <p class="name">{{diet.diet_title}}</p>
          <p class="subtitle">{{strings.ST43}} {{diet.diet_servings}} | {{strings.ST44}} {{diet.diet_time}}</p>
        </div>
    </ion-row>
    </ion-grid>

    <ion-grid class="information">
      <ion-row>
        <ion-col size="3">
          <ion-label>{{diet.diet_calories}}</ion-label>
          <ion-text class="ion-text-wrap">{{strings.ST49}}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{diet.diet_protein}}</ion-label>
          <ion-text>{{strings.ST50}}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{diet.diet_fat}}</ion-label>
          <ion-text>{{strings.ST51}}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{diet.diet_carbs}}</ion-label>
          <ion-text>{{strings.ST52}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2 class="header-title" style="margin-top: 0;">
      {{strings.ST46}}
    </h2>

    <div class="ion-padding">
    <app-html [htmlcontent]="diet.diet_description"></app-html>
    </div>

    <h2 class="header-title" style="margin-top: 0;">
      {{strings.ST47}}
    </h2>

    <div class="ion-padding">
    <app-html [htmlcontent]="diet.diet_ingredients"></app-html>
    </div>

    <h2 class="header-title" style="margin-top: 0;">
      {{strings.ST48}}
    </h2>

    <div class="ion-padding">
    <app-html [htmlcontent]="diet.diet_directions"></app-html>
    </div>


</ion-content>

