
.html{
    font-size: 15px;
}

.html p, .html li, .html ol, .html p{
    font-size: 14px !important;
    margin-left: 0;
    margin-right: 0;
}

.html li{
    margin-bottom: 14px !important;
}

.html ol, .html ul{
    padding-left: 28px;
}