<ion-header *ngIf="!isLoading">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-backbutton color="light"></app-backbutton>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<app-loading *ngIf="isLoading"></app-loading>

<ion-content *ngIf="!isLoading" class="ion-no-padding">

<app-empty *ngIf="getItems.length === 0" [title]="strings.ST24"></app-empty>

<ion-list>
  <ion-item *ngFor="let item of getItems" [routerLink]="['/singleexercise', item.exercise_id]">
    <ion-avatar slot="start">
      <img src="{{item.exercise_image | image}}">
    </ion-avatar>
    <ion-label>
      <h2>{{item.exercise_title}}</h2>
      <p>{{item.level_title}}</p>
    </ion-label>
    <ion-button slot="end" fill="clear">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>
  </ion-list>

<div style="height: 50px;"></div>

</ion-content>
